@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model WebAppJob.Models.UserModel

<div class="container-fluid text-white d-flex justify-content-center">

    <div class="mt-20 shadow rounded p-5">
        <h3 class="m-7 sh">Web App Job</h3>

        <form asp-action="LoginUser" method="post" asp-controller="Login">
           
            <div class="form-group">
                <label class="form-label">User name</label>
                <input autocomplete="off" asp-for="UserName" class="form-control" type="text" />
            </div>

            <div class="form-group mt-4 d-flex justify-content-center align-center">
                <input class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Log in" />
            </div>
            <div class="form-group">         
                <a asp-action="Register" asp-controller="Login">Register</a>
                <br />
                <a asp-action="ForgotPassword" asp-fragment="Login">
                    Forgot password?
                </a>
            </div>
            <div class="form-group mt-4">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

        </form>


    </div>
</div>