
@{
    Layout = null;
}
@model WebAppJob.Models.UserModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form asp-action="LoginUser" method="post" asp-controller="Login">

        <input asp-for="UserName" type="text" />
       
        <input type="submit" value="Log in" />

        <span asp-validation-for="UserName"></span>

    </form>

</body>
</html>
