@model UserViewModelRegister
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container text-white m-5">
    <h2>Register</h2>
    <hr />
    <form asp-action="SaveNewUser" method="post" asp-controller="Login">
        <div class="row mt-3">
            <div class="col-2">
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select class="form-control" size="1" asp-for="Roles"></select>
                    <span class="text-danger" asp-validation-for="Roles"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control" />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Birthdate</label>
                    <input type="date" asp-for="Birthdate" class="form-control" />
                    <span class="text-danger" asp-validation-for="Birthdate"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">Age</label>
                    <input type="number" asp-for="Age" class="form-control" />
                    <span class="text-danger" asp-validation-for="Age"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center mt-4 ">
                <input class="btn btn-success w-40"
                       type="submit" value="Register">
            </div>
        </div>

    </form>


    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <a asp-action="Index" asp-fragment="Login">
                Log in
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group mt-3">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
    </div>
</div>



