html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loader {
    border: 9px solid #ccc;
    border-radius: 50%;
    border-top: 9px solid #3a687e;
    border-bottom: 9px solid #3a687e;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*---------------------------------*/

.input-text {
    border-radius: 0px !important;
    border: #cccc 2.1px solid !important;
}

input-text:hover{
    border:none;
}

.card {
    padding: 24px;
    border: 0px !important;
    */ border-radius: 10px !important;
    background-color: #f6f6f6 !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px;
    width: 500px;
    width: auto;
    background-color: white;
}

.img-card img{
    width:155px;
    border-radius:10px;
}

.title-card a {
    text-decoration: none;
    font-size: 17px;
}

.labels-card ul {
    list-style: circle;
    color: #3a687e;
    font-size: 13px;
}

.description-card {
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}

.cardSearch {
    box-shadow: rgba(0, 0, 0, 0.23) 1px 1px 2px;
    padding: 10px;
    background-color:white;
    
}

.inputCardSearch {
    border: 0px none !important;
    padding: 12px !important;
    
}

.titleCardSearch {
    color:#80b1da;
}
.nav-link:hover {
    border-bottom: 1px solid blue !important;
}

.btn-updatestatusapplication{
    color:#3a687e;
    font-weight:600;
    border:#ccc solid 1px;
    border-radius:7px;
    background-color:white;
    padding:7px;
}

    .btn-updatestatusapplication:hover{
        background-color:#d8e5fe;
    }

    .carSearchApply {
        box-shadow: rgba(0, 0, 0, 0.23) 1px 1px 2px;
        background-color: white;
        padding: 10px;
    }


.statusApplication {
    background-color: #e4effb;
    padding: 7px;
    border-radius: 7px;
}