html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*---------------------------------*/

.input-text {
    border-radius: 0px !important;
    border: #cccc 2.1px solid !important;
}

input-text:hover{
    border:none;
}

.card {
    padding: 24px;
    /*border: #ccc solid 1.5px !important;*/
    border-radius: 10px !important;
    background-color: #f6f6f6 !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 7px;
    width:500px;
}

.img-card img{
    width:155px;
    border-radius:10px;
}

.title-card a {
    text-decoration: none;
    font-size: 17px;
}

.labels-card ul {
    list-style: circle;
    color: #3a687e;
    font-size: 13px;
}

.description-card {
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}