
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Application</h1>
<hr />
<br />


<ul>
    <li>Version of application: 1.0.0</li>
    <li>Developer: Alfredo Sanchez</li>
    <li>Date of las version: @DateTime.Now</li>
    <li>More projects: <a href="https://github.com/AlfredoSV">https://github.com/AlfredoSV</a></li>
</ul>
