@model WebAppJob.Models.ApplyJobModel

@{
    Layout = null;
}


<div class="mb-5">
    <div class="col-12 mb-5">
        <form id="form">
            <div class="form-group">
                <label  class="control-label">Name</label>
                <input id="name"  class="form-control" />   
                <span id="nameValidationMessage"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Last Name</label>
                <input id="lastName" class="form-control" />
                <span id="lastNameValidationMessage"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Contact number</label>
                <input class="form-control" />
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Birthdate</label>
                <input type="date" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Presentation Letter</label>
                <textarea cols="20" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-success btn-lg" />
            </div>
        </form>

    </div>
   
</div>

<script type="text/javascript">

    function eventSubmmit(e){

        alert("Enviando datos");

        e.preventDefault();
    }


</script>
