@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <h3>Application</h3>
    
    <table class="table table-dark">
        <thead>
            <tr>
                <td>Company</td>
                <td>Title</td>
                <td>Status</td>
                <td>Date</td>
                <td></td>
            </tr>
        </thead>
    </table>

    <button id="btnDetail">GetInformation</button>
    <a asp-action="ApplyJob" asp-controller="Home"> Apply on Job</a>

</div>
