@{
    ViewData["Title"] = "Home";
}

<style>
    .dx-datagrid .dx-data-row > td.bullet {
        padding-top: 0;
        padding-bottom: 0;
    }

</style>

<div class="container-fluid">
    <div class="mb-3">
        <h3>Application</h3>
    </div>
    
    <!--<button id="btnDetail">GetInformation</button>-->
    <div class="mb-4">
        <a asp-action="ApplyJob" asp-controller="Home"> Apply on Job</a>
    </div>
    
    <table id="tableApplications">
        <thead>
            <tr>
                <td>Company</td>
                <td>Title</td>
                <td>Status</td>
                <td>Date Apply</td>
                <td></td>
            </tr>
        </thead>
    </table>

   
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin:auto;" id="job">
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
  
</div>

