@{
    ViewData["Title"] = "Home";
}

<style>
    .dx-datagrid .dx-data-row > td.bullet {
        padding-top: 0;
        padding-bottom: 0;
    }

</style>

<div class="container-fluid">
    <div class="mb-3">
        <h3>Application</h3>
    </div>
    
    <!--<button id="btnDetail">GetInformation</button>-->
    <div class="mb-1">
        <a href="#" id="applyJob"> Apply on Job</a>
    </div>
    
    <table id="tableApplications">
        <thead>
            <tr>
                <td>Company</td>
                <td>Title</td>
                <td>Status</td>
                <td>Date Apply</td>
                <td></td>
            </tr>
        </thead>
    </table>

   
    <!-- Modal Detail Job-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Job</h5>
                    <button type="button" class="close" data-dismiss="myModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin:auto;" id="job">
                    

                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Apply Job-->

    <div class="modal fade"  id="applyJobModal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color:#cccc;">
                <div class="modal-header">
                    <h5 class="modal-title">Apply to new Job</h5>
                    <button type="button" class="close" data-dismiss="modal1" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"  id="formApply">
                    
                </div>
            
            </div>
        </div>
    </div>


</div>

