
@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3>Jobs</h3>

    <div>
        <select type="se" class="form-control form-control-lg" />
        <input type="search" class="form-control form-control-lg" />
        <input type="date" class="form-control form-control-lg" />
        <input type="date" class="form-control form-control-lg" />
        <button class="btn btn-success">Search</button>
    </div>

    <table class="table table-dark">
        <thead>
            <tr>
                <td>Company</td>
                <td>Title</td>
                <td>Status</td>
                <td>Create Date</td>
                <td>Expiration Date</td>
                <td>Created By</td>
            </tr>
        </thead>
    </table>

</div>

