@{
    Layout = null;
}

<div class="mb-5">
    <form id="createJobForm container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input id="name" autocomplete="off" class="form-control input-text" />
                    <span id="nameValidationMessage"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <select id="idCompany" class="form-control input-text">
                    </select>
                    <span id="idCompanyValidationMessage"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group mt-3">
                    <label class="control-label">Salary Max</label>
                    <input id="salaryMax" class="form-control input-text" type="number" step="0.1" />
                    <span id="salaryMaxValidationMessage"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-3">
                    <label class="control-label">Salary Min</label>
                    <input id="salaryMin" class="form-control input-text" step="0.1" type="number" />
                    <span id="salaryMinValidationMessage"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group mt-3">
                    <label class="control-label">Vacancy Number</label>
                    <input class="form-control input-text" id="vacancyNumber" type="number " />
                    <span id="vacancyNumberValidationMessage"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-3">
                    <label class="control-label">Area</label>
                    <select id="idArea" class="form-control input-text">
                    </select>
                    <span id="idAreaValidationMessage"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            <label class="control-label">Description</label>
            <textarea id="description" cols="20" rows="6" class="form-control input-text"></textarea>
            <span id="descriptionValidationMessage"></span>
        </div>
        <div class="form-group mt-3">
            <label class="control-label">CV</label>
            <input id="isActive" class="form-control input-text" type="file" />
            <span id="isActiveValidationMessage"></span>
        </div>
        <div class="form-group mt-3">
            <label class="control-label">Active</label>
            <input id="isActive" class="form-check-input" type="checkbox" />
            <span id="isActiveValidationMessage"></span>
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        </div>
    </form>

</div>


