@{
    Layout = null;
}
@model JobViewModel


<div class="mb-5">
    <div class="col-12 mb-5">
        <form id="form" autocomplete="off">
            <input type="hidden" id="id" />
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="NameJob"disabled class="form-control" />      
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Company</label>
                <select asp-for="IdCompany" asp-items="Model.SelectListItemsCompanies"  disabled class="form-control">
                </select>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Salary Max</label>
                <input disabled asp-for="SalaryMax" class="form-control" type="number" step="0.1" />         
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Salary Min</label>
                <input asp-for="SalaryMin" disabled class="form-control" step="0.1" type="number" />
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Vacancy Number</label>
                <input disabled class="form-control" asp-for ="VacancyNumbers" type="number" />
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Area</label>
                <select disabled asp-for="IdArea" asp-items="Model.SelectListItemsAreas" class="form-control">
                </select>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Description</label>
                <textarea disabled asp-for="DescriptionJob" cols="20" rows="10" class="form-control"></textarea>           
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Active</label>
                <input asp-for="IsActive" class="form-check-input" type="checkbox" disabled />
            </div>
        </form>

    </div>

</div>


