
<div class="container-fluid mt-10">

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">

            <div class="card">
                <div class="img-card">
                    <img src="https://d31i9b8skgubvn.cloudfront.net/folder/logos/4255_logo_11mTq3XMPhe0ALVG.png" alt="Logo">
                </div>
                <div class="title-card mt-3">
                    <h3><a href="www.google.com.mx">Desarrollador .Net</a></h3>
                </div>
                <div class="description-card mt-3">
                    <p>Empresa Mexicana ubicada en Santa Fe, Ciudad de México; Líder en el desarrollo, implementación y gestión de soluciones de tecnología, requiere para trabajar en una de sus unidades de negocios dedicada a la investigación y...</p>
                </div>
                <div class="labels-card">
                    <ul>
                        <li>Nuevo León</li>
                        <li>Empleado de tiempo completo</li>
                    </ul>
                </div>
                <div class="mt-3 mb-2">
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Edit
                    </a>
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Delete
                    </a>
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Apply
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">

            <div class="card">
                <div class="img-card">
                    <img src="https://d31i9b8skgubvn.cloudfront.net/folder/logos/4255_logo_11mTq3XMPhe0ALVG.png" alt="Logo">
                </div>
                <div class="title-card mt-3">
                    <h3><a href="www.google.com.mx">Desarrollador .Net</a></h3>
                </div>
                <div class="description-card mt-3">
                    <p>Empresa Mexicana ubicada en Santa Fe, Ciudad de México; Líder en el desarrollo, implementación y gestión de soluciones de tecnología, requiere para trabajar en una de sus unidades de negocios dedicada a la investigación y...</p>
                </div>
                <div class="labels-card">
                    <ul>
                        <li>Nuevo León</li>
                        <li>Empleado de tiempo completo</li>
                    </ul>
                </div>
                <div class="mt-3 mb-2">
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Edit
                    </a>
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Delete
                    </a>
                    <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="#" id="newJob">
                        Apply
                    </a>
                </div>
            </div>

        </div>


    </div>

</div>

