@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-10">

    <div class="row mb-2">

        <h1>Status of applications</h1>

    </div>

    <hr />
    <div class="row">

        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Folio" />
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <select type="text" class="form-control">
                    <option value="-1">Select a status</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Name" />
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Last Name" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email" />
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="date" class="form-control" placeholder="Date Created Init" />
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="date" class="form-control" placeholder="Date Created End" />
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <button type="submit" id="downloadExcel" class="btn btn-success">Download Excel</button>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <button type="submit" id="searchApplication" class="btn btn-primary">Search</button>
            </div>
        </div>

    </div>



    <div class="row mb-2 mt-5">

        <h3>Results</h3>

    </div>
    <hr />

    <div class="row carSearchApply mt-4">

        <div class="col-10">
            <span class="mb-4 statusApplication">Postulación enviada</span>
            <h5 class="mb-2 mt-3">Desarrollador .Net</h5>
            <p class="mb-2">Sofftek</p>
            <p>México Ciudad de México</p>
            <p>Postulación realizada el Martes</p>
        </div>

        <div class="col-2">
            <button class="btn-updatestatusapplication">Actualizar estado</button>
        </div>

    </div>

</div>

@section Scripts{
    <script src="~/js/site_applicationtsJobs.js" asp-append-version="true"></script>
}
